:root {
  --beige: #b79674;
  --backgroundBlue: #191f40;
}

@font-face {
  font-family: 'Lexend';
  src: url('./assets_fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
button,
input {
  font-family: 'Lexend';
}

.underlineable:hover {
  text-decoration: underline;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.shop_banner {
  color: black;
}

@media screen and (max-width: 500px) {
  .shop_banner {
    color: white;
  }
}
